@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* Regulation */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Orbitron", sans-serif;
}

body
{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

/* Page Background */
body:before 
{
    content:"";
    background-image: var(--page_bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:fixed;
    z-index:-1;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

/* Scroll Bar Styles */
::-webkit-scrollbar
{ 
   
    width: 15px; 
} 

::-webkit-scrollbar-track
{ 
    background: var(--scrollbar_track); 
} 

::-webkit-scrollbar-thumb
{ 
    background: var(--scrollbar_thumb); 
} 

::-webkit-scrollbar-thumb:hover
{ 
    background: var(--scrollbar_thumb-hover); 
} 

::-webkit-scrollbar-button
{ 
    display: none; 
}

/* Form Container Styles */
.container
{
    padding: 1.5rem 1.5rem 5rem 1.5rem;
    margin: 7rem auto 5rem auto;
    background-image: var(--container_bg);
    width: 95%;
    border-radius: 0.5rem;
}

.container h1
{
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: var(--font_white);
}

.main
{
    background-image: var(--form_bg);
    margin: auto 0;
    border: 1px solid var(--border_black);
    border-radius: 0.5rem;
    width: 100%;
    padding: 1.5rem;
}

/* Grid Styles */
.grid
{
    margin: 1rem auto;
    color: var(--font_black);
    display: grid;
    grid-gap: 1em;
    grid-template-areas: "search" "table" "buttons";
}

.search
{
    grid-area: search;
    font-size: 15px;
    width: 30%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.search:focus
{
    background: var(--input_focus);
}

.db_table
{
    min-width: 100px;
    min-height: 100px;
    width: 100%;
    grid-area: table;
    font-size: 15px;
    text-align: center;
    border: 1px solid #000000;
    border-collapse: collapse;
}

.tbl_cont
{
    max-height: 450px;
    overflow-y: auto;
}

.db_table th
{
    border: 1px solid #000000;
}

.db_table td
{
    border: 1px solid #000000;
    padding: 0.5rem;
    width: 500px;
    margin: 0;
}

.db_table tr
{
    background-color: aqua;
}

.db_table tbody tr:hover
{
    background-color: #00bd19
}

.opt
{
    grid-area: buttons;
    margin-top: 1rem;
}

.opt_btn
{
    background-image: var(--opt_btn);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--font_white);
    cursor: pointer;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-right: 1rem;
}

.opt_btn:hover
{
    background-image: var(--opt_btn-hover); 
}