@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Regulation */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Orbitron", sans-serif;
}

body
{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

textarea
{
    resize: none;
}

/* Page Background */
body:before 
{
    content:"";
    background-image: var(--page_bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:fixed;
    z-index:-1;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

/* Scroll Bar Styles */
::-webkit-scrollbar
{ 
   
    width: 15px; 
} 

::-webkit-scrollbar-track
{ 
    background: var(--scrollbar_track); 
} 

::-webkit-scrollbar-thumb
{ 
    background: var(--scrollbar_thumb); 
} 

::-webkit-scrollbar-thumb:hover
{ 
    background: var(--scrollbar_thumb-hover); 
} 

::-webkit-scrollbar-button
{ 
    display: none; 
}

/* Form Container Styles */
.container
{
    padding: 1.5rem 1.5rem 5rem 1.5rem;
    margin: 7rem auto 5rem auto;
    background-image: var(--container_bg);
    width: 95%;
    border-radius: 0.5rem;
}

.container h1
{
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: var(--font_white);
}

.main
{
    background-image: var(--form_bg);
    /* background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: 50% 65%; */
    margin: auto 0;
    border: 1px solid var(--border_black);
    border-radius: 0.5rem;
    width: 100%;
    padding: 1.5rem;
}

/* Grid Styles */
.grid
{
    margin: 1rem auto;
    color: var(--font_black);
    display: grid;
    grid-gap: 1em;
    grid-template-areas: "search" "table" "buttons";
}

.header
{
    display: flex;
}

.search
{
    grid-area: search;
    font-size: 15px;
    width: 30%;
    padding: 0.5rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.search:focus
{
    background: var(--input_focus);
}

.db_table
{
    min-width: 100px;
    min-height: 100px;
    width: 100%;
    grid-area: table;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    border: 1px solid #000000;
    border-collapse: collapse;
}

.tbl_cont
{
    max-height: 450px;
    overflow-y: auto;
    background-image: var(--form_bg_logo);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: 50% 50%;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.db_table th
{
    font-size: 15px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif !important;
    border: 1px solid #000000;
    padding: 5px;
    background: rgba(0, 162, 255, 0.7);
    color: #ffffff;
}

.db_table td
{
    font-family: "Montserrat", sans-serif !important;
    border: 1px solid #000000;
    padding: 5px;
    margin: 0;
    width: 150px;
}

.db_table tr
{
    font-family: "Montserrat", sans-serif !important;
    background-color: var(--tr_light);
}

.db_table tbody tr td:first-child
{
    display: flex;
    /* width: fit-content;
    border-top: none;
    border-left: none;
    border-right: none; */
    border-bottom: 1px solid #000000;
}

.db_table tbody tr:last-child td:first-child
{
    border-bottom: none;
}

.btn_container
{
    display: flex;
    padding:10px;
    margin: auto;
}

.db_table tr:nth-child(even)
{
    background-color: var(--tr_dark);
}

.db_table tbody tr:hover
{
    background-color: #00bd19
}

.opt
{
    grid-area: buttons;
}

.opt_btn
{
    background: var(--opt_btn);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--font_white);
    cursor: pointer;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-right: 1rem;
}

.opt_btn:hover
{
    background: var(--opt_btn-hover); 
}

.btnS, .btnA, .btnE, .btnT
{
    background: var(--tbl_opt_btn);
    padding: 0.4rem 0.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 20px;
    color: var(--blue);
    cursor: pointer;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin: 0 3px;
    height: 40px;
    width: 40px;
}

.btnS:hover, .btnA:hover, .btnE:hover, .btnT:hover
{
    background: var(--tbl_opt_btn-hover);
    color: #ffffff;
}


.radio_btn
{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: -0.5rem;
}

.radio_btn .btn2
{
    margin-left: 100px;
}

.radio_cnt
{
    font-size: 22px;
    font-weight: 600;
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio_cnt input
{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.r_btn
{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #8d8d8d;
    border-radius: 50%;
}

.radio_cnt:hover input ~ .r_btn
{
    background-color: #444444;
}
  
.radio_cnt input:checked ~ .r_btn
{
    background-color: #0087f5;
}

.r_btn:after
{
    content: "";
    position: absolute;
    display: none;
}
  
.radio_cnt input:checked ~ .r_btn:after
{
    display: block;
}
  
.radio_cnt .r_btn.one:after
{
    top: 24%;
    left: 22%;
    width: 55%;
    height: 55%;
    border-radius: 50%;
    background: #ffffff;
}

.radio_cnt .r_btn.two:after
{
    top: 24%;
    left: 22%;
    width: 55%;
    height: 55%;
    border-radius: 50%;
    background: #ffffff;
}

/* Modal Grid Styles */
#crt_modal .content_one
{
    grid-area: content_one;
    display: flex;
    justify-content: space-between;
}

#crt_modal .content_two .cnt1,
#crt_modal .content_two .cnt2
{
    margin-top: 0.5rem;
}

#crt_modal .content_one label
{
    margin-right: 0.5rem;
}

#crt_modal .content_one input
{
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#crt_modal input:disabled,
#crt_modal input:read-only
{
    cursor: default;
    background: var(--disabled_bg);
    color: var(--font_disabled);
    border: 2px solid var(--border_disabled);
}

#crt_modal .content_two
{
    grid-area: content_two;
    display: flex;
    justify-content: space-between;
}

#crt_modal .content_two label
{
    margin-right: 0.5rem;
}

#crt_modal .content_two input
{
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#crt_modal .content_three
{
    margin-top: 1rem;
    grid-area: content_three;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#crt_modal .content_three select,
#crt_modal .content_three textarea
{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#crt_modal .form_content
{
    /* display: grid; */
    grid-gap: 1em;
    grid-template-areas: "content_one" "content_two" "content_three";
    
}

#crt_modal .form_content label
{
    font-size: 15px;
    font-weight: 600;
}

#crt_modal .form_content input,
#crt_modal .form_content select,
#crt_modal .form_content textarea

{
   font-size: 15px;
}

#crt_modal .submit
{
    text-align: center;
    margin-top: 1rem;
}

#crt_modal .submit input
{
    background-image: var(--submit_btn);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: var(--font_white);
    cursor: pointer;
}

#crt_modal .submit input:hover
{
    background-image: var(--submit_btn-hover);
    color: var(--font_black);
    font-weight: 600;
}

#edt_modal .form label
{
    font-size: 15px;
    font-weight: 600;
}

#edt_modal .form input,
#edt_modal .form select
{
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#edt_modal .form textarea
{
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#edt_modal .content_one
{
    display: flex;
    justify-content: space-between;
}

#edt_modal .content_two
{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#edt_modal .content_three
{
    margin-top: 1rem;
    text-align: center;
}

#edt_modal .content_three input[type=submit]
{
    background-image: var(--submit_btn);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: var(--font_white);
    cursor: pointer;
}

#edt_modal .content_three input[type=submit]:hover
{
    background-image: var(--submit_btn-hover);
    color: var(--font_black);
    font-weight: 600;
}

#snd_modal input:disabled,
#snd_modal input:read-only
{
    cursor: default;
    background: var(--disabled_bg);
    color: var(--font_disabled);
    border: 2px solid var(--border_disabled);
}

#snd_modal .content_one
{
    /* grid-area: content_one; */
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
}

#snd_modal .content_one label
{
    margin-right: 0.5rem;
}

#snd_modal .content_one .doc_num input
{
    width: 150px;
}

#snd_modal .content_one input
{
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#snd_modal .content_two
{
    margin-top: 1rem;
    grid-area: content_two;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#snd_modal .content_two label
{
    margin-right: 0.5rem;
}

#snd_modal .content_two select
{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#snd_modal .content_three
{
    margin: 1rem auto 0 auto;
    grid-area: content_three;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#snd_modal .content_three input,
#snd_modal .content_three textarea
{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#snd_modal .form_content
{
    display: grid;
    grid-gap: 1em;
    grid-template-areas: "content_one" "content_two" "content_three";
    width: 100%;
}

#snd_modal .form_content label
{
    font-size: 20px;
    font-weight: 600;
}

#snd_modal .submit
{
    text-align: center;
    margin-top: 2rem;
}

#snd_modal .submit input
{
    background-image: var(--submit_btn);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: var(--font_white);
    cursor: pointer;
}

#snd_modal .submit input:hover
{
    background-image: var(--submit_btn-hover);
    color: var(--font_black);
    font-weight: 600;
}

.spacer
{
    padding: 1.5rem 2rem;
}

#atc_modal .atc_btn
{
    margin-right: 1rem;
}

#atc_modal .atc_btn,
#atc_modal .ins_btn
{
    background: var(--modal_opt_btn);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 15px;
    font-weight: 500;
    color: var(--font_white);
    cursor: pointer;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

#atc_modal .atc_btn:hover,
#atc_modal .ins_btn:hover
{
    background: var(--modal_opt_btn-hover);
}

#atc_modal .attachments
{
    display: flex;
    justify-content: space-between;
}

.descript
{
    flex-direction: column;
}

.descbox
{
    margin-top: 1rem;
}

#atc_modal .preview
{
    display: flex;
    flex-direction: column;
    max-height: 200px;
    /* max-width: 300px; */
    overflow-y: auto;
    margin-right: 1rem;
    border: 1px solid #000000;
    border-radius: 0.5rem 0 0 0.5rem;
    padding: 0.3rem;
}

#atc_modal .zoom
{
    max-width: 500px;
}

.ATTACH_MINI
{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px black solid;
    border-radius: 10px;
    margin: 0.1rem 0.5rem;
}

#ATTACH_ZOOM
{
    width: 500px;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px black solid;
    border-radius: 10px;
}

#ins_submodal .img-zoom-container
{
    position: relative;
    display: flex;
    justify-content: space-between;
}

#ins_submodal .img-zoom-lens
{
    position: absolute;
    border: 1px solid #aaaaaa;
    /*set the size of the lens:*/
    width: 100px;
    height: 100px;
}

#ins_submodal .img-preview
{
    margin-right: 10px;
}

#ins_submodal .img-zoom-result
{
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 500px;
    height: 400px;
}

.row
{
    display: flex;
    justify-content: space-between;
}

#atc_submodal label
{
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

#atc_submodal textarea
{
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 20px;
}



.imgbox
{
    /* margin: 0 auto; */
	max-width: 500px;
	width: 100%;
	background: linear-gradient(to bottom right, rgba(25, 0, 58, 0.5), rgba(102, 0, 80, 0.5));
	padding: 30px;
	border-radius: 30px;
    margin-bottom: 2rem;
}

.img-area {
	position: relative;
	width: 100%;
	height: 240px;
	background: #f2f2f2;
	margin-bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.img-area .icon
{
	font-size: 100px;
    margin-bottom: 1rem;
}

.img-area h3
{
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 6px;
}

.img-area p
{
	color: #999999;
}

.img-area p span
{
	font-weight: 600;
}

.img-area img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 100;
}

.img-area::before
{
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}

.img-area.active:hover::before
{
	opacity: 1;
}

.select-image
{
	display: block;
	width: 100%;
	padding: 16px 0;
	border-radius: 15px;
	background: #0071ff;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}

.select-image:hover
{
	background: #0c8f00;
}










#atc_submodal input[type="file"]
{
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.submit
{
    text-align: center;
}

#atc_submodal input[type="submit"]
{
    background-image: var(--submit_btn);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: var(--font_white);
    cursor: pointer;
}

#atc_submodal input[type="submit"]:hover
{
    background-image: var(--submit_btn-hover);
    color: var(--font_black);
    font-weight: 600;
}

#track_modal .track
{
    max-height: 450px;
    overflow: auto;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

#track_modal .modal_content
{
    width: 95%;
}

#track_modal .form
{
    width: 95%;
    padding: 1rem 0;
}

#track_modal .track_table
{
    border-collapse: collapse;
    font-size: 13px;
    margin: 0 auto;
    width: 100%;
}

#track_modal .track_table th
{
    font-size: 15px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif !important;
    border: 1px solid #000000;
    padding: 5px;
    background: rgba(0, 162, 255, 0.7);
    color: #ffffff;
}

#track_modal .track_table td
{
    font-family: "Montserrat", sans-serif !important;
    font-weight: 500;
    border: 1px solid #000000;
    padding: 5px;
    margin: 0;
}

#track_modal .track_table tr
{
    font-family: "Montserrat", sans-serif !important;
    background-color: var(--tr_light);
}

#track_modal .track_table tr:nth-child(even)
{
    background-color: var(--tr_dark);
}


#track_modal .track_table tbody tr:hover
{
    background-color: #00bd19
}

/* CSS Responsiveness */
@media screen and (max-width:900px)
{
    .r_btn
    {
        width: 20px;
        height: 20px;
    }

    .radio_btn label
    {
        font-size: 16px;
    }

    .radio_cnt .r_btn.one:after
    {
        top: 24%;
        left: 23%;
    }

    .radio_cnt .r_btn.two:after
    {
        top: 24%;
        left: 23%;
    }

    #crt_modal .form_content label
    {
        font-size: 10px;
    }

    #crt_modal .form_content input,
    #crt_modal .form_content select,
    #crt_modal .form_content textarea
    {
        font-size: 10px;
        padding: 0.3rem;
    }

    #crt_modal .submit input
    {
        font-size: 10px;
    }

    #edt_modal .content_one
    {
        text-align: center;
    }

    #snd_modal .form_content label
    {
        font-size: 10px;
    }

    #snd_modal .form_content input,
    #snd_modal .form_content select,
    #snd_modal .form_content textarea
    {
        font-size: 10px;
        padding: 0.3rem;
    }

    #snd_modal .submit input
    {
        font-size: 0.8rem;
    }
}

@media screen and (max-width:500px)
{
    .form
    {
        padding: 1.5rem 0 0 0 !important;
    }

    .r_btn
    {
        width: 18px;
        height: 18px;
    }

    .radio_btn label
    {
        font-size: 14px;
    }

    .radio_cnt .r_btn.one:after
    {
        top: 24%;
        left: 22%;
    }

    .search
    {
        font-size: 10px;
        padding: 0.3rem;
        width: auto;
    }

    .opt_btn
    {
        font-size: 10px;
    }

    #crt_modal .form_content label
    {
        font-size: 6px;
    }

    #crt_modal .form_content input,
    #crt_modal .form_content select,
    #crt_modal .form_content textarea
    {
        font-size: 6px;
    }

    #crt_modal .content_one input
    {
        margin-top: 0;
    }

    #crt_modal .content_two .cnt1,
    #crt_modal .content_two .cnt2
    {
        margin-top: 0;
    }

    #crt_modal .content_two
    {
        margin-top: 0.5rem;
    }

    #crt_modal .content_one .cnt2
    {
        margin-top: 0;
    }

    #crt_modal .submit input
    {
        font-size: 8px;
    }

    #edt_modal .content_one
    {
        flex-direction: column;
    }

    #edt_modal .content_one .head
    {
        display: flex;
        flex-direction: column;
    }

    #edt_modal .content_one label,
    #edt_modal .content_one input
    {
        margin-bottom: 0.5rem;
        font-size: 12px;
    }

    #edt_modal .content_one input
    {
        padding: 0.3rem;
    }

    #edt_modal .content_two
    {
        flex-direction: column;
        margin-bottom: 1rem;
    }

    #edt_modal .content_two .body
    {
        display: flex;
        flex-direction: column;
    }

    #edt_modal .content_two label,
    #edt_modal .content_two select,
    #edt_modal .content_two textarea
    {
        margin-bottom: 0.5rem;
        font-size: 12px;
    }

    #edt_modal .content_two select,
    #edt_modal .content_two textarea
    {
        padding: 0.3rem;
    }

    #snd_modal .form
    {
        padding: .5rem 0 0 0 !important;
    }

    #snd_modal .form_content label
    {
        font-size: 6px;
    }

    #snd_modal .form_content input,
    #snd_modal .form_content select,
    #snd_modal .form_content textarea
    {
        font-size: 6px;
    }

    #snd_modal .content_one
    {
        flex-direction: column;
    }

    #snd_modal .content_one input
    {
        width: 100%;
    }

    #snd_modal .content_two
    {
        margin-top: 0;
        flex-direction: column;
    }

    #snd_modal .content_two select
    {
        margin-top: 0;
        width: 100%;
    }

    #snd_modal .content_one .doc_num input
    {
        width: auto;
    }

    #snd_modal .content_three
    {
        margin-top: 0;
    }

    #snd_modal .submit
    {
        margin-top: 1rem;
    }

    #snd_modal .submit input
    {
        font-size: 8px;
    }
}
