/* Global Variables */
:root
{
    /* Page Background */
    --page_bg: url(./Resources/717780.jpg);

    /* Pure Colors */
    --white: #ffffff;
    --black: #000000;
    --light_grey: #c5c5c5;
    --light_blue: #6b83ee;
    --dark_blue: #000b89;
    --blue: #03a2e0;

    /* Gradients Navigation Bar Specific */
    --gradient_bg: linear-gradient(to bottom right, #08c5ff, #170099);
    --gradient_side_panel_bg: linear-gradient(to bottom right, #001eb6, #00a2ff);

    /* Navigation Bar Specific */
    --nav_border_bottom: #00c3ff;
    --links_hover_bg: #00c3ff;
    --searchbox_bg: #005c99;
    --dropdown_menu_bg: #0060df;

    /* Scrollbar Global */
    --scrollbar_track: #ececec;
    --scrollbar_thumb: #0062ff;
    --scrollbar_thumb-hover: #00c3ff;
    
    /* Content Page Container Global */

    /* Page Backgrounds */
    --modal_bg: linear-gradient(to bottom, #f4fbff, #ffffff);
    --modal_banner_bg: linear-gradient(to bottom, #0003ae, #0088ff);
    --container_bg: linear-gradient(to bottom right, rgba(155, 215, 255, 0.5), rgba(0, 36, 102, 0.5));
    /* --form_bg: linear-gradient(to bottom, #f1e7f1, #ffffff); */
    --form_bg: linear-gradient(to bottom, #e3f5ff, #ffffff);
    --form_bg_logo: url(../CSS/Resources/City-of-Baguio-Logo\ Fill.png);
    --login_bg: url(../CSS/Resources/City-of-Baguio-Logo\ Fill.png);

    /* Font Color */
    --font_white: #ffffff;
    --font_black: #000000;
    --font_grey: #575757;
    --font_dbl: #292929;
    --font_disabled: rgb(94, 94, 94);

    /* Disabled CSS */
    --disabled_bg: rgba(236, 236, 236, 0.3);

    /* Buttons */
    --login_btn: #0033ff;
    --login_btn-hover: #00c92f;
    --submit_btn: linear-gradient(to bottom right, #043da7, #0296bb);
    --submit_btn-hover: linear-gradient(to bottom left, #00ff0d, #00a70e);
    --opt_btn: #0084ff;
    --opt_btn-hover: #17c900;
    --tbl_opt_btn-hover: #00afdb;
    --modal_opt_btn: #0099ff;
    --modal_opt_btn-hover: #2ad400;
    --dlt_btn: linear-gradient(to bottom, #a10202, #ff0000);
    --dlt_btn-hover: linear-gradient(to top, #000b69, #0011ff);
    --modal_close: #ff0000;
    --dbl_btn: #cfcfcf;

    /* Borders */
    --border_black: #000000;
    --border_white: #ffffff;
    --border_dark_grey: #313131;
    --border_light_purple: #8c00ff;
    --border_dark_purple: #300042;
    --border_disabled: rgba(83, 83, 83, 0.5);

    /* Box Shadow */
    --box_shadow_dark_purple: rgba(57, 0, 80, 0.8);

    /* Input Focus */
    --input_focus: #edfbff;

    /* Options Background */
    --opt_bg_light: #ecc2f1;
    --opt_bg_dark: #be7eca;
    --opt_bg_hover: #421477;

    /* Table */
    --tr_light: rgba(255, 255, 255, 0.9);
    --tr_dark: rgba(222, 248, 255, 0.9);
}

/* Font Embed Import */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Orbitron:wght@400..900&display=swap'); */

/* Regulation */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Navigation Bar Styles */
.wrapper
{
    font-family: "Orbitron", sans-serif;
    /* font-family: "Electrolize", sans-serif; */
    background-image: var(--gradient_bg);
    top: 0;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid var(--nav_border_bottom);
    z-index: 1;
}

.wrapper nav
{
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

nav .content
{
    display: flex;
    align-items: center;
}

nav .content .links
{
    margin-left: 80px;
    display: flex;
}

.content img
{
    height: 45px;
    width: 45px;
    margin: auto 1rem auto 0;
}

.content .logo a
{
    color: var(--white);
    font-size: 30px;
    font-weight: 600;
}

.content .links li
{
    list-style: none;
    line-height: 70px;
}

.content .links li a,
.content .links li label
{
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.content .links li label
{
    display: none;
}

.content .links li a:hover,
.content .links li label:hover
{
    background: var(--links_hover_bg);
    color: var(--black);
}

.wrapper .search-icon,
.wrapper .menu-icon
{
    color: var(--white);
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
}

.wrapper .menu-icon
{
    display: none;
}

.wrapper #show-search:checked ~ .search-icon i::before
{
    content: "\58";
}

.wrapper .search-box
{
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.wrapper #show-search:checked ~ .search-box
{
    opacity: 1;
    pointer-events: auto;
}

.search-box input
{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    color: var(--white);
    background: var(--searchbox_bg);
    padding: 0 100px 0 15px;
}

.search-box input::placeholder
{
    color: var(--white);
}

.search-box .go-icon
{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    width: 70px;
    background: var(--searchbox_bg);
    border: none;
    outline: none;
    color: var(--white);
    font-size: 20px;
    cursor: pointer;
}

.wrapper input[type="checkbox"]
{
    display: none;
}

/* Dropdown Menu Styles */
.content .links ul
{
    position: absolute;
    background: var(--dropdown_menu_bg);
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}

.content .links li:hover > ul
{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.content .links ul li a
{
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px!important;
}

.content .links ul ul
{
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
}

.content .links ul li
{
    position: relative;
}

.content .links ul li:hover ul
{
    top: 0;
}

/* Navigation Bar Responsiveness */
@media screen and (max-width: 1250px)
{
    .wrapper nav
    {
        max-width: 100%;
        padding: 0 20px;
    }

    nav .content .links
    {
        margin-left: 30px;
    }

    .content .links li a
    {
        padding: 8px 13px;
    }

    .wrapper .search-box
    {
        max-width: calc(100% - 100px);
    }
    
    .wrapper .search-box input
    {
        padding: 0 100px 0 15px;
    }
}

@media screen and (max-width: 1024px)
{
    .content .logo a
    {
        white-space: nowrap;  
    }
}

@media screen and (max-width: 980px)
{
    .content .links li a,
    .content .links li label
    {
        font-size: 15px;  
    }
}

@media screen and (max-width: 901px)
{
    .content .logo a
    {
        font-size: 25px;
    }
}

@media screen and (max-width: 900px)
{
    /* Dropdown Menu Scroll Bar Styles */
    
    .wrapper .links
    {
        overflow-y: scroll;
    }

    .wrapper .links::-webkit-scrollbar
    {
        width: 15px;
    }

    .wrapper .links::-webkit-scrollbar-track
    {
        background: var(--scrollbar_track);
    }

    .wrapper .links::-webkit-scrollbar-thumb
    { 
        background: var(--scrollbar_thumb); 
    }

    .wrapper .links::-webkit-scrollbar-thumb:hover
    { 
        background: var(--scrollbar_thumb-hover); 
    } 

    .wrapper .links::-webkit-scrollbar-button
    { 
        display: none; 
    }

    /* Functionality Adjustment Styles */
    .wrapper .menu-icon
    {
        display: block;
    }
    
    .wrapper #show-menu:checked ~ .menu-icon i::before
    {
        content: "\f00d";
    }

    /* .content .logo a
        {
            font-size: 30px;
        } */

    nav .content .links
        {
            display: block;
            position: fixed;
            background-image: var(--gradient_side_panel_bg);
            height: 100%;
            width: 100%;
            top: 70px;
            left: -100%;
            margin-left: 0;
            max-width: 350px;
            overflow-y: auto;
            padding-bottom: 100px;
            transition: all 0.3s ease;
        }

    nav #show-menu:checked ~ .content .links
        {
            left: 0%;
        }

    .content .links li
        {
            margin: 15px 20px;
        }

    .content .links li a,
    .content .links li label
        {
            line-height: 40px;
            font-size: 20px;
            display: block;
            padding: 8px 18px;
            cursor: pointer;
        }

    .content .links li a.desktop-link
        {
            display: none;
        }

    /* Dropdown Menu Responsiveness */
    .content .links ul,
    .content .links ul ul
        {
            position: static;
            opacity: 1;
            visibility: visible;
            background: none;
            max-height: 0px;
            overflow: hidden;
        }

    .content .links #show-routing:checked ~ ul,
    .content .links #show-filing:checked ~ ul,
    .content .links #show-items:checked ~ ul,
    .content .links #show-setting:checked ~ ul
        {
            max-height: 100vh;
        }

    .content .links ul li
        {
            margin: 7px 20px;
        }

    .content .links ul li a
        {
            font-size: 18px;
            line-height: 30px;
            border-radius: 5px!important;
        }
}

@media screen and (max-width: 560px)
{
    .content img
    {
        width: 30px;
        height: 30px;
    }

    .content .logo a
    {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px)
{
    .wrapper nav
        {
            padding: 0 10px;
        }

    /* .content .logo a
        {
            font-size: 25px;
        } */

    .wrapper .search-box
        {
            max-width: calc(100% - 70px);
        }

    .wrapper .search-box .go-icon
        {
            width: 30px;
            right: 0;
        }

    .wrapper .search-box input
        {
            padding-right: 30px;
        }
}