@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* Regulation */
*
{
    font-family: "Orbitron", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body
{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* Page Background */
body:before 
{
    content:"";
    background-image: var(--page_bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:fixed;
    z-index:-1;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

/* Scroll Bar Styles */
::-webkit-scrollbar
{ 
   
    width: 15px; 
} 

::-webkit-scrollbar-track
{ 
    background: var(--scrollbar_track); 
} 

::-webkit-scrollbar-thumb
{ 
    background: var(--scrollbar_thumb); 
} 

::-webkit-scrollbar-thumb:hover
{ 
    background: var(--scrollbar_thumb-hover); 
} 

::-webkit-scrollbar-button
{ 
    display: none; 
}

/* Login Form Styles */
.login-box
{
    width: 50%;
    position: relative;
    top:5rem;
    margin: auto;
    
    background: var(--form_bg);
    border: 2px solid #333333;
    box-shadow: 20px -20px 40px rgba(0, 8, 83, 0.5),
                -20px 20px 40px rgba(255, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 3rem; 
    text-align: center;
}

.login-box h1
{
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 0.3rem;
}

.login-box a
{
    font-weight: 600;
    color: var(--font_grey);
}

.login-form
{
    width: 80%;
    margin: 1rem auto;
    text-align: center;
}

input[type=text], input[type=password]
{
    width: 100%;
    padding: 0.7rem 0.8rem;
    margin: 0.7rem 0;
    font-size: 1rem;
    border: 1.7px solid var(--border_dark_grey);
    border-radius: 0.5rem;
    
    
}

input[type=text]:focus, input[type=password]:focus
{
    background: var(--input_focus);
}

::placeholder
{
    padding: 0.3rem 0;
}

input[type=submit]
{
    margin: 0 auto 1.5rem auto;
    padding: 0.5rem 4rem;
    background-image: var(--login_btn);
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border: none;
    border-radius: 0.5rem;
    color: var(--font_white);
    cursor: pointer;
}

input[type=submit]:hover
{
    background-image: var(--login_btn-hover);
    font-weight: 600;
}

input[type=checkbox]
{
    margin-top: 2rem;
}

.rmb
{
    font-weight: 600;
    color: var(--dark_purple);
}

.rmb:hover
{
    color: var(--light_purple);
}