@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*
{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Orbitron", sans-serif;
}
  
#notification-area
{
    position:fixed;
    top: 70px;
    right:15px;
    width:250px;
    height: 89vh;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    overflow: hidden;
}

#notification-area .notification
{
    position:relative;
    padding:15px 10px;
    color: #ffffff;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    text-align: justify;
    border-radius: 0.5rem;
    margin:5px 0px;
    opacity:0;
    left:20px;
    animation:showNotification 150ms ease-in-out forwards;
}

@keyframes showNotification
{
    to
    {
        opacity:1;
        left:0px;
    }
}

#notification-area .notification .close_btn
{
    float: right;
}

#notification-area .notification .close_btn:hover
{
    color: #000000;
}

#notification-area .notification.success
{
    background-color:#18cf00;
}

#notification-area .notification.error
{
    background-color:#ff0000;
}

#notification-area .notification.info
{
    background-color:#0066ff;
}

#notification-area .notification.warning
{
    background-color:#ff8800;
}

#notification-area .notification span
{
    font-size: 1.5rem;
    margin-right: 0.3rem;
}

#notification-area .notification strong
{
    font-size: 1.1rem;
}

#notification-area .notification .msg
{
    margin-top: 0.5rem;
}