@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*
{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Orbitron", sans-serif;
}

button
{
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    background: #353535;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}

.alert
{
    background: #efd8ff;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 0;
    top: 10px;
    border-radius: 4px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}

.alert.danger
{
    border-left: 1rem solid #ff0000;
}

.alert.success
{
    border-left: 1rem solid #18cf00;
}

.alert.info
{
    border-left: 1rem solid #0066ff;
}

.alert.warning
{
    border-left: 1rem solid #ff8800;
}

.alert.showAlert{
  opacity: 1;
  pointer-events: auto;
}
.alert.show{
  animation: show_slide 0.5s ease forwards;
}
@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
.alert.hide{
  animation: hide_slide 0.5s ease forwards;
}
@keyframes hide_slide {
  0%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(0%);
  }
  80%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(100%);
  }
}

.danger .fa-circle-exclamation
{
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #ff0000;
  font-size: 30px;
}

.success .fa-circle-check
{
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #18cf00;
  font-size: 30px;
}

.info .fa-circle-info
{
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #0066ff;
  font-size: 30px;
}

.warning .fa-triangle-exclamation
{
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #ff8800;
  font-size: 30px;
}

.danger .msg
{
    padding: 0 20px;
    font-size: 18px;
    color: #ff0000;
}

.success .msg
{
    padding: 0 20px;
    font-size: 18px;
    color: #18cf00;
}

.info .msg
{
    padding: 0 20px;
    font-size: 18px;
    color: #0066ff;
}

.warning .msg
{
    padding: 0 20px;
    font-size: 18px;
    color: #ff8800;
}

.danger .close-btn
{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #ff0000;
    padding: 20px 18px;
    cursor: pointer;
}

.success .close-btn
{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #18cf00;
    padding: 20px 18px;
    cursor: pointer;
}

.info .close-btn
{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #0066ff;
    padding: 20px 18px;
    cursor: pointer;
}

.warning .close-btn
{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #ff8800;
    padding: 20px 18px;
    cursor: pointer;
}

.alert .close-btn:hover
{
    background: #000000;
}

.alert .close-btn .fas
{
    color: #ffffff;
    font-size: 22px;
    line-height: 40px;
}