/* Global Variables */
:root
{
    /* Pure Colors */
    --white: #ffffff;
    --black: #000000;
    --light_grey: #c5c5c5;
    --light_purple: #cf6bee;
    --dark_purple: #3d0050;

    /* Gradients Navigation Bar Specific */
    --gradient_br_dark-blue_to_dark-purple: linear-gradient(to bottom right, #030013, #120129);
    --gradient_br_dark-blue-purple_to_medium-blue-purple: linear-gradient(to bottom right, #0e0024, #191644);

    /* Navigation Bar Specific */
    --nav_border_bottom: #9500ff;
    --links_hover_bg: #545066;
    --searchbox_bg: #171924;
    --dropdown_menu_bg: #1e1724;

    /* Scrollbar Global */
    --scrollbar_track: #090030;
    --scrollbar_thumb: #330063;
    --scrollbar_thumb-hover: #4400c4;
    
    /* Content Page Container Global */

    /*Background Gradients */
    --modal_bg: linear-gradient(to bottom, #e2e2e2, #ffffff);
    --modal_banner_bg: linear-gradient(to top, #1f0031, #8d00b1);
    --container_bg: linear-gradient(to bottom right, rgba(255, 0, 0, 0.4), rgba(0, 89, 255, 0.4));
    --form_bg: linear-gradient(to bottom, #f1e7f1, #ffffff);

    /* Font Color */
    --font_white: #ffffff;
    --font_black: #000000;
    --font_grey: #575757;

    /* Buttons */
    --login_btn: linear-gradient(to bottom, #010042, #0003c2);
    --login_btn-hover: linear-gradient(to top, #af0000, #ff0000);
    --submit_btn: linear-gradient(to bottom right, #200c36, #a502bb);
    --submit_btn-hover: linear-gradient(to bottom left, #5a5291, #c198da);
    --opt_btn: linear-gradient(to bottom, rgb(41, 3, 63), #6c0586);
    --opt_btn-hover: linear-gradient(to top, #100a4d, #2a03b6);
    --modal_opt_btn: linear-gradient(to bottom, #0b0a52, #2717b6);
    --modal_opt_btn-hover: linear-gradient(to top, #22043f, #7702d6);
    --dlt_btn: linear-gradient(to bottom, #a10202, #ff0000);
    --dlt_btn-hover: linear-gradient(to top, #000b69, #0011ff);
    --modal_close: #ff0000;

    /* Borders */
    --border_black: #000000;
    --border_white: #ffffff;
    --border_dark_grey: #313131;
    --border_light_purple: #8c00ff;
    --border_dark_purple: #300042;

    /* Box Shadow */
    --box_shadow_dark_purple: rgba(57, 0, 80, 0.8);

    /* Input Focus */
    --input_focus: #e8d9ec;

    /* Options Background */
    --opt_bg_light: #ecc2f1;
    --opt_bg_dark: #be7eca;
    --opt_bg_hover: #421477;
}

/* Font Embed Import */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Orbitron:wght@400..900&display=swap'); */

/* Regulation */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Navigation Bar Styles */
.wrapper
{
    font-family: "Orbitron", sans-serif;
    /* font-family: "Electrolize", sans-serif; */
    background-image: var(--gradient_br_dark-blue_to_dark-purple);
    top: 0;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid var(--nav_border_bottom);
    z-index: 1;
}

.wrapper nav
{
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

nav .content
{
    display: flex;
    align-items: center;
}

nav .content .links
{
    margin-left: 80px;
    display: flex;
}

.content img
{
    height: 45px;
    width: 45px;
    margin: auto 1rem auto 0;
}

.content .logo a
{
    color: var(--white);
    font-size: 30px;
    font-weight: 600;
}

.content .links li
{
    list-style: none;
    line-height: 70px;
}

.content .links li a,
.content .links li label
{
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.content .links li label
{
    display: none;
}

.content .links li a:hover,
.content .links li label:hover
{
    background: var(--links_hover_bg);
}

.wrapper .search-icon,
.wrapper .menu-icon
{
    color: var(--white);
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
}

.wrapper .menu-icon
{
    display: none;
}

.wrapper #show-search:checked ~ .search-icon i::before
{
    content: "\58";
}

.wrapper .search-box
{
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.wrapper #show-search:checked ~ .search-box
{
    opacity: 1;
    pointer-events: auto;
}

.search-box input
{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    color: var(--white);
    background: var(--searchbox_bg);
    padding: 0 100px 0 15px;
}

.search-box input::placeholder
{
    color: var(--white);
}

.search-box .go-icon
{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    width: 70px;
    background: var(--searchbox_bg);
    border: none;
    outline: none;
    color: var(--white);
    font-size: 20px;
    cursor: pointer;
}

.wrapper input[type="checkbox"]
{
    display: none;
}

/* Dropdown Menu Styles */
.content .links ul
{
    position: absolute;
    background: var(--dropdown_menu_bg);
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}

.content .links li:hover > ul
{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.content .links ul li a
{
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px!important;
}

.content .links ul ul
{
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
}

.content .links ul li
{
    position: relative;
}

.content .links ul li:hover ul
{
    top: 0;
}

/* Navigation Bar Responsiveness */
@media screen and (max-width: 1250px)
{
    .wrapper nav
    {
        max-width: 100%;
        padding: 0 20px;
    }

    nav .content .links
    {
        margin-left: 30px;
    }

    .content .links li a
    {
        padding: 8px 13px;
    }

    .wrapper .search-box
    {
        max-width: calc(100% - 100px);
    }
    
    .wrapper .search-box input
    {
        padding: 0 100px 0 15px;
    }
}

@media screen and (max-width: 1024px)
{
    .content .logo a
    {
        white-space: nowrap;  
    }
}

@media screen and (max-width: 980px)
{
    .content .links li a,
    .content .links li label
    {
        font-size: 15px;  
    }
}

@media screen and (max-width: 901px)
{
    .content .logo a
    {
        font-size: 25px;
    }
}

@media screen and (max-width: 900px)
{
    /* Dropdown Menu Scroll Bar Styles */
    
    .wrapper .links
    {
        overflow-y: scroll;
    }

    .wrapper .links::-webkit-scrollbar
    {
        width: 15px;
    }

    .wrapper .links::-webkit-scrollbar-track
    {
        background: var(--scrollbar_track);
    }

    .wrapper .links::-webkit-scrollbar-thumb
    { 
        background: var(--scrollbar_thumb); 
    }

    .wrapper .links::-webkit-scrollbar-thumb:hover
    { 
        background: var(--scrollbar_thumb-hover); 
    } 

    .wrapper .links::-webkit-scrollbar-button
    { 
        display: none; 
    }

    /* Functionality Adjustment Styles */
    .wrapper .menu-icon
    {
        display: block;
    }
    
    .wrapper #show-menu:checked ~ .menu-icon i::before
    {
        content: "\f00d";
    }

    /* .content .logo a
        {
            font-size: 30px;
        } */

    nav .content .links
        {
            display: block;
            position: fixed;
            background-image: var(--gradient_br_dark-blue-purple_to_medium-blue-purple);
            height: 100%;
            width: 100%;
            top: 70px;
            left: -100%;
            margin-left: 0;
            max-width: 350px;
            overflow-y: auto;
            padding-bottom: 100px;
            transition: all 0.3s ease;
        }

    nav #show-menu:checked ~ .content .links
        {
            left: 0%;
        }

    .content .links li
        {
            margin: 15px 20px;
        }

    .content .links li a,
    .content .links li label
        {
            line-height: 40px;
            font-size: 20px;
            display: block;
            padding: 8px 18px;
            cursor: pointer;
        }

    .content .links li a.desktop-link
        {
            display: none;
        }

    /* Dropdown Menu Responsiveness */
    .content .links ul,
    .content .links ul ul
        {
            position: static;
            opacity: 1;
            visibility: visible;
            background: none;
            max-height: 0px;
            overflow: hidden;
        }

    .content .links #show-routing:checked ~ ul,
    .content .links #show-filing:checked ~ ul,
    .content .links #show-items:checked ~ ul,
    .content .links #show-setting:checked ~ ul
        {
            max-height: 100vh;
        }

    .content .links ul li
        {
            margin: 7px 20px;
        }

    .content .links ul li a
        {
            font-size: 18px;
            line-height: 30px;
            border-radius: 5px!important;
        }
}

@media screen and (max-width: 560px)
{
    .content img
    {
        width: 30px;
        height: 30px;
    }

    .content .logo a
    {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px)
{
    .wrapper nav
        {
            padding: 0 10px;
        }

    /* .content .logo a
        {
            font-size: 25px;
        } */

    .wrapper .search-box
        {
            max-width: calc(100% - 70px);
        }

    .wrapper .search-box .go-icon
        {
            width: 30px;
            right: 0;
        }

    .wrapper .search-box input
        {
            padding-right: 30px;
        }
}