@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*
{
  font-family: "Montserrat", sans-serif;}

textarea
{
  resize: none;
}

table, th, tr, td
{
  border: 1px solid #000000 ;
}

span
{
  background: #6d6d6d;
}

input
{
  border: none;
  border-bottom: 1px solid #000000;
}

.routingnum
{
  border-bottom: none;
}

.pdf_cont
{
  /* width: 100vw;
  height: 100vh; */
  border: 1px solid #000000;
  padding: 10px;
}

#divID
{
  border: 1px solid #000000;
  width: 600px;
}

