.container
{
  border: 2px solid #000000;
  display: flex;
}

.content1
{
  background: #e22727;
  padding: 5rem;
}

.content2
{
  background: #2de227;
  padding: 5rem;
}

.home
{
  padding: 10px;
}

.keke
{
  padding: 100px;
  background: #790000;
}