@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* Regulation */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Orbitron", sans-serif;
}

body
{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

/* Page Background */
body:before 
{
    content:"";
    background-image: url(..//Resources/1120291.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:fixed;
    z-index:-1;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

/* Scroll Bar Styles */
::-webkit-scrollbar
{ 
   
    width: 15px; 
} 

::-webkit-scrollbar-track
{ 
    background: var(--scrollbar_track); 
} 

::-webkit-scrollbar-thumb
{ 
    background: var(--scrollbar_thumb); 
} 

::-webkit-scrollbar-thumb:hover
{ 
    background: var(--scrollbar_thumb-hover); 
} 

::-webkit-scrollbar-button
{ 
    display: none; 
}

/* Form Container Styles */
.container
{
    padding: 1.5rem 1.5rem 5rem 1.5rem;
    margin: 7rem auto 5rem auto;
    background-image: var(--container_bg);
    width: 90%;
    border-radius: 0.5rem;
}

.container h1
{
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: var(--font_white);
}

.main
{
    background-image: var(--form_bg);
    margin: auto;
    border: 1px solid var(--border_black);
    border-radius: 0.5rem;
    width: 90%;
    padding: 1.5rem;
}

.search
{
    margin: 1rem auto 2rem auto;
}

.search label
{
    font-size: 1.3rem;
    font-weight: 400;   
}

.head
{
    margin-bottom: 1rem;
}

.form label
{
    font-size: 1.3rem;
    font-weight: 400;
}

.form input
{
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.search input
{
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.search input:focus
{
    background: var(--input_focus);
}

.opt_btn#add
{
    background-image: var(--opt_btn);
    padding: 0.5rem 0.7rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--font_white);
    cursor: pointer;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.opt_btn#dlt
{
    background-image: var(--dlt_btn);
    padding: 0.5rem 0.7rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--font_white);
    cursor: pointer;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.opt_btn#add:hover
{
    background-image: var(--opt_btn-hover); 
}

.opt_btn#dlt:hover
{
    background-image: var(--dlt_btn-hover);
}

.modal_content.add .add_inputs,
.modal_content.dlt .dlt_inputs
{
    text-align: center;
    margin-top: 3rem;
}

.modal_content.add input[type="submit"]
{
    background-image: var(--modal_opt_btn);
    color: var(--font_white);
    border: none;
    width: 5.5rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    padding: 0.5rem 0.7rem;
    text-transform: uppercase;
    cursor: pointer;
}

.modal_content.add input[type="submit"]:hover
{
    background-image: var(--modal_opt_btn-hover);
    font-weight: 600;
}

.modal_content.dlt input[type="submit"]
{
    background-image: var(--modal_opt_btn);
    color: var(--font_white);
    border: none;
    width: 6.5rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    padding: 0.5rem 0.7rem;
    text-transform: uppercase;
    cursor: pointer;
}

.modal_content.dlt input[type="button"]
{
    background-image: var(--dlt_btn);
    color: var(--font_white);
    border: none;
    width: 6.5rem;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 0.7rem;
    text-transform: uppercase;
    cursor: pointer;
}

.modal_content.dlt input[type="submit"]:hover
{
    background-image: var(--modal_opt_btn-hover);
}

.modal_content.dlt input[type="button"]:hover
{
    background-image: var(--dlt_btn-hover);
}