/* Regulation */
*
{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body
{
    height: 100vh;
    width: 100vw;
}

/* Page Background */
body:before 
{
    content:"";
    background-image: url(..//Resources/1120291.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:fixed;
    z-index:-1;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

/* Scroll Bar Styles */
.scrollbar
{
    height: 100vh;
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar
{ 
    width: 15px; 
} 

.scrollbar::-webkit-scrollbar-track
{ 
    background: var(--scrollbar_track); 
} 

.scrollbar::-webkit-scrollbar-thumb
{ 
    background: var(--scrollbar_thumb); 
} 

.scrollbar::-webkit-scrollbar-thumb:hover
{ 
    background: var(--scrollbar_thumb-hover); 
} 

.scrollbar::-webkit-scrollbar-button
{ 
    display: none; 
} 

/* Form Container Styles */
.container
{
    padding: 1.5rem 1.5rem 5rem 1.5rem;
    margin: 7rem auto 5rem auto;
    background-image: var(--container_bg);
    width: 90%;
    border-radius: 0.5rem;
}

.container h1
{
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* Form Styles */
.form
{
    background-image: var(--form_bg);
    margin: auto;
    border: 1px solid var(--border_black);
    border-radius: 0.5rem;
    width: 90%;
    padding: 1.5rem;
}

.row
{
    display: flex;
    margin-top: 1rem; 
}

.column
{
    margin: 0;
    padding: 0;
    flex: 50%;      
}

.head.two
{
    margin-top: 1rem;
}

.head input
{
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.head input:focus
{
    background-color: var(--input_focus);
}

.head input[type="date"]
{
    width: 10rem;
}

.head input[type="datetime-local"]
{
    width: 15rem;
}

.head input[type="number"]
{
    width: 16rem;
}

.head input[type="text"]
{
    width: 23rem;
}

.head label
{
    margin-right: 0.5rem;
}

.inputgroup
{
    margin-top: 1rem;
}

.table_one
{
    border: 1px solid var(--border_black);
    width: 20%;
    border-collapse:separate; 
    border-spacing: 1rem 0.5rem;
}

.table_one h2
{
    font-size: 1.3rem;
}

.table_one td
{
    
    padding: 0.5rem 1rem;
}
/* .options
{
    
} */

.table_one td select
{
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.table_one td select option
{
    font-size: 1rem;
    font-weight: 600;
}

.submit
{
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.submit input
{
    width: 7rem;
    background-image: var(--submit_btn);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    color: var(--font_white);
    cursor: pointer;
}

.submit input:hover
{
    background-image: var(--submit_btn-hover);
    color: var(--font_black);
    font-weight: 600;
}